<mat-card class="themeselection-card">
    <mat-card-header>
        <mat-card-title>Theme</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <label id="">Pick your favorite theme</label>
    <mat-radio-group aria-label="Select a theme" [(ngModel)]="theme" (change)="changeTheme($event)" >
        <mat-radio-button value="numberone">Number One</mat-radio-button>
        <mat-radio-button value="numbertwo">Number Two</mat-radio-button>
    </mat-radio-group>
    <label id="">Mode</label>
    <mat-radio-group aria-label="dark" [(ngModel)]="dark" (change)="changeLight($event)">
        <mat-radio-button [value]=true>dark</mat-radio-button>
        <mat-radio-button [value]=false>light</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>