{
    "trailingComma": "es5",
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "printWidth": 150,
    "bracketSpacing": true,
    "html.format.wrapAttributes": "force",
    "html.format.enable": true,
    "html.format.wrapLineLength": 300
}
