<div class="formwrapper">
    <mat-card class="formCard">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Login
                    </ng-template>
                    <ng-template matTabContent>
                        <app-login></app-login>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Signup
                    </ng-template>
                    <ng-template matTabContent>
                        <app-signup></app-signup>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
