.mat-list-item {
    border-bottom: 1px solid grey;

    &:hover {
        background-color: rgba($color: grey, $alpha: 0.1);
    }
}

.mat-list-item .mat-checkbox {
    margin-right: 10px;
}

.mat-list-item .mat-icon {
    margin-left: auto;

    font-size: 18px;

    &:hover {
        cursor: pointer;
        // color: $primary;
    }
}
.mat-list-item-content {
    width: 70%;
}
.flextest {
    border: 1px solid blue;
}
.flextest div {
    border: 1px solid red;
}
