<form [formGroup]="loginForm" (ngSubmit)="login()" class="card-form">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input #email matInput type="email" autocomplete="username" />
        <mat-error *ngIf="email.errors?.required">
            Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="email.errors?.email && !email.errors?.required">
            Please enter a valid email address
        </mat-error>
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
            #password
            matInput
            type="password"
            autocomplete="current-password"
        />
        <mat-error *ngIf="password.errors?.required">
            Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="password.errors?.minlength">
            Please enter a password with a minimum of 8 characters
        </mat-error>
        <mat-icon matSuffix>visibility_off</mat-icon>
    </mat-form-field>

    <button
        mat-raised-button
        color="accent"
        class="fw"
        type="submit"
        [disabled]="!loginForm.valid"
    >
        Login
    </button>
</form>
