.statusMessage {
    background-color: #424242;
    position: absolute;
    z-index: 100;
    width: 320px;
    height: 186.25px;
}
.successmsg,
.failuremsg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
}
.successmsg {
    color: #69f0ae;
}
.failuremsg {
    color: red;
}
