<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayoutAlign="center center">
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Email</mat-label>
                <input #email matInput type="email" formControlName="email">
                <button mat-icon-button matSuffix><mat-icon>email</mat-icon></button>
                
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input #password matInput type="password" formControlName="password">
                <button mat-icon-button matSuffix><mat-icon>visibility_off</mat-icon></button>
            </mat-form-field>
            
            <button mat-raised-button color="accent" class="example-full-width" type="submit">Login</button>
            
        </form>

  </mat-card-content>
</mat-card>