.mat-radio-button ~ .mat-radio-button {
    margin-left: 10px;
}
.mat-card-content {
    padding-top: 10px;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    .mat-radio-button {
        margin: 5px;
    }
}
