@import 'app/modules/material/themes/numberone.theme.scss';
@import 'app/modules/material/themes/numbertwo.theme.scss';
@import 'app/shared/common/sidenavigation/sidenavigation.component.theme.scss';
@import 'app/modules/shared/components/circleloader/circleloader.component.theme.scss';
@import 'app/modules/shared/components/dominoloader/dominoloader.component.theme.scss';
@import 'app/modules/frontend/components/login/login.component.theme.scss';

@mixin custom-components-theme($theme) {
    @include sidenavigation-component-theme($theme);
    @include form-theme($theme);
    @include circleloader-component-theme($theme);
    @include dominoloader-component-theme($theme);
    @include login-component-theme($theme);
}
.numberone-dark {
    @include angular-material-theme($numberone-dark-theme);
    @include custom-components-theme($numberone-dark-theme);
}
.numberone-light {
    @include angular-material-theme($numberone-light-theme);
    @include custom-components-theme($numberone-light-theme);
}
.numbertwo-dark {
    @include angular-material-theme($numbertwo-dark-theme);
    @include custom-components-theme($numbertwo-dark-theme);
}
.numbertwo-light {
    @include angular-material-theme($numbertwo-light-theme);
    @include custom-components-theme($numbertwo-light-theme);
}
/*
$custom-typography: mat-typography-config(
    $font-family: '"Poiret One", cursive;',
);
@include mat-core($custom-typography);
*/
$headerFontFamily: 'Poiret One', cursive;
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.fill {
    flex: 1 1 auto;
}
.container {
    padding: 15px 35px;
}

.mat-sidenav-container {
    height: calc(100% - 64px);
}
.mat-sidenav {
    min-width: 150px;
}
.mat-sidenav h2 {
    margin-left: 15px;
    margin-top: 15px;
}

.mat-typography {
    background-color: #646464 !important;
}
.formCard {
    width: 320px;
}
.formwrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: $headerFontFamily;
        font-size: 45px;
        color: white;
    }
}
::ng-deep .mat-tab-body-content {
    overflow: visible !important;
}

.standaloneForm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.card-form {
    .mat-form-field {
        min-width: 320px;
        max-width: 500px;
        margin-bottom: 5px;
    }
}
.fw {
    width: 100%;
}
.mat-form-field-underline {
    background-color: green;
}
