<mat-card>
    <mat-card-header>
        <mat-card-title>Users</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
    <!--
        <div *ngIf="me">
            <h2>Hello {{me.email}}</h2>
            <input type="text" [(ngModel)]="newName" placeholder="new name"/>
            <button (click)="updateName()">update name</button>
        </div>

        <mat-paginator *ngIf="data.page$ | async as page"
  [length]="page.totalElements" [pageSize]="page.size"
  [pageIndex]="page.number" [hidePageSize]="true" 
  (page)="data.fetch($event.pageIndex)">
</mat-paginator>

<mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
-->
        <mat-paginator *ngIf="tableSource.page$ | async as page"
            [length]="page.totalElements"
            [pageSize]="page.size" 
            [pageIndex]="page.number"
            (page)="tableSource.fetch($event.pageIndex)"
            [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
        </mat-paginator>
        <table  mat-table [dataSource]="tableSource" 
                matSort matSortActive="email" matSortDirection="asc" (matSortChange)="sortData($event)" 
                matSortDisableClear="true"
                class="mat-elevation-z8">
            
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let user"> {{user.email}} </td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:320px"> Uuid </th>
                <td mat-cell *matCellDef="let user"> {{user.id}} </td>
            </ng-container>
            <ng-container matColumnDef="controls">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let user" class="action-link"> 
                    
                    <a (click)="deleteUser(user)">Delete</a>  
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>
<!--
        <mat-list>
            <mat-list-item *ngFor="let user of users " >
                <div >{{user.id}}</div>
                <div >{{user.email}}</div>
                <mat-icon aria-hidden="false" aria-label="Delete user" (click)="deleteUser(user)">delete</mat-icon>
            </mat-list-item>
        </mat-list>
-->
       
      
    </mat-card-content>
</mat-card>
