<div class="hero">
    <figure>
        <!--<img src="https://unsplash.it/1600/900?image=830" alt="" />-->
        <figcaption>
            <h1>Organizer</h1>
            <p>organize the shit out of everything</p>
            <a routerLink="/login" mat-raised-button color="accent">Login</a>
        </figcaption>
    </figure>
</div>
<!--
    <a routerLink="/signup" mat-raised-button color="accent">Signup</a>
<div fxLayout="column" class="features" fxLayoutAlign="center center">
    <h2>Features</h2>
    <p>Lorem ipsum dolor sit</p>
    <div fxLayout="row">
        <div class="feature">
            <h3>Actions</h3>
            <p>Manage your day with ToDos, Appointments and Reminder.</p>
        </div>
        <div class="feature">
            <h3>Diary</h3>
            <p>Keep a diary and analyse what makes you happy/feel good.</p>
        </div>
    </div>
</div>
-->
